.DS_Store
New_Report/author.pdf
New_Report/author.aux
New_Report/author.log
New_Report/author.synctex.gz
Implementation/8-puzzle-results.csv
Implementation/output.txt
Implementation/.ipynb_checkpoints
Implementation/.ipynb_checkpoints/AI_implementation-checkpoint.ipynb